.padding-left-24 {
    padding-left: 24px;
}

a {
    text-decoration: none !important;
    color:#000000 !important;
}

.singleContentArticle > .container-fluid {
    padding: 0!important;

}

.custom-navigation-header{
    height: 104px;
}

.i-header-logo img{
    width: 190px;
}


.loader {

    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #E01F1F;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#page-content-wrapper {
    padding: 48px;
    font-family: Roboto, sans-serif;
}

.post-title {
    font-family: Roboto-Bold, sans-serif;
    font-size: 32px;
    color: #111010 !important;
    line-height: 42px;
}

.post-date {
    margin-top: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #403C3C !important;
    letter-spacing: 0;
    line-height: 20px;
}

.post-content {
    margin-top: 32px;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    color: #111010!important;
    line-height: 28px;
}
