.padding-left-42 {
    padding-left: 42px;
}

a {
    text-decoration: none !important;
    color:#000000 !important;
}

.singleContentArticle > .container-fluid {
    padding: 0!important;

}

.singleContentArticle {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #111010;
    line-height: 28px;
}

.custom-navigation-header{
    height: 172px;
    padding-left: 42px;
}

@media all and (max-width: 600px) {
    .custom-navigation-header {
        height: auto;
        padding-left: 24px;
        justify-content: center;
    }
}

.i-header-logo img{
    width: 340px;
}


.loader {

    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #E01F1F;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#page-content-wrapper {
    padding: 24px 48px;
    font-family: Roboto, sans-serif;
}

@media all and (max-width: 600px) {
    #page-content-wrapper{
        padding: 24px 24px;
        overflow: auto;
    }
}

.post-title {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #111010 !important;
    line-height: 42px;
}

.post-date {
    margin-top: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #403C3C !important;
    letter-spacing: 0;
    line-height: 20px;
}

.post-content {
    margin-top: 32px;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    color: #111010!important;
    line-height: 28px;
}

.subscribe-text-box{
    background-color: white;
    border-radius: 0;
    border: none;
    max-width: 360px;
    margin-left: 30px;
    text-align: left;
}

.subscribe-button{
    background-color: #E01F1F;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    margin-left: 16px;
}

@media all and (max-width: 600px) {
    .subscribe-text-box {
        margin-left: 0px;
        width: 100%;
    }

    .subscribe-button {
        margin-top: 8px;
        margin-left: 0px;
    }
}
.comment-text-field {
    background-color: #0c3b66;
}

#name {
    border: 1px solid #D8D8D8;
}

.nm-wrap-comments label {
    font-weight: normal;
    font-size: 16px;
    color: #111010;
    line-height: 24px;
    font-family: Roboto, sans-serif;
}

#comment {
    width: 100%;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}

#submit {
    background-color: #E01F1F;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    font-weight: lighter;
    border: none;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    padding:0px 20px;
}

/*customize comment display*/

.comment-details {
    display: flex;
    justify-content: space-between;
}

.commentor-fields{
    display: flex;
    flex-direction: column;
}

.comment-affiliations{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #111010;
    font-weight: lighter;
}

.comment-author {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #111010;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.comment-date {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #767676;
    text-align: right;
    line-height: 32px;
}

.comment-text {
    font-family: Roboto;
    font-size: 18px;
    color: #111010;
    line-height: 24px;
    margin-top: 12px;
    font-weight: normal;
}

.comment-text>ul{
    display: none;
}

.comment-reply-btn {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #767676;
    line-height: 20px;
    margin-top: 16px;
}

.comment-list{
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.comment-title{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #111010;
    line-height: 24px;
    font-weight: bold;
    margin-top: 48px;
}

.comments-area{
    padding-left: 16px;
    width: 60%;
    padding-top: 36px;
    border-top: 1px solid #E01F1F;
    margin-top: 36px;
}

@media all and (max-width: 600px) {
    .comments-area{
        width: 98%;
    }
}


.comment{
    margin-bottom: 32px;
}

.comment-area-message{
    font-family: Roboto,sans-serif;
    font-size: 15px;
    color: #111010;
    line-height: 20px;
}
.comment-area-submessage{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #767676;
    line-height: 15px;
    margin-bottom: 16px;
}

.author-box-name {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #E01F1F;
    line-height: 20px;
    margin-bottom: 8px;
}

.author-box-email {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #111010;
    line-height: 16px;
    margin-bottom: 12px;
}

.author-box-affiliation {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #111010;
}

.author-box-bio {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #767676;
}

.author-name{
    display: inline;
    padding: 0 3px;
    cursor: pointer;
}

.author-tool-tip-wrapper{
    padding: 4px;
}

.jBox-container{
    border-radius: 0!important;
}


.page-title-text{
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
    color: #111010;
    line-height: 42px;
    margin-bottom: 24px;
}

.page-content-text-style{
    font-family: Roboto;
    font-size: 18px;
    color: #111010;
    line-height: 28px;
}

@media all and (max-width: 600px) {
    .mobile-margin-adjustment {
        margin-left: 0!important;
    }

    #bs-example-navbar-collapse-1 {
        background-color: #cccccc6b;
    }

    .nav li{
        padding: 10px;
    }
}

.search-submit {
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0px;
    width: 48px;
    height: 38px;
}
