.padding-left-24 {
    padding-left: 24px;
}

a {
    text-decoration: none !important;
    color:#000000 !important;
}

.singleContentArticle > .container-fluid {
    padding: 0!important;

}

.custom-navigation-header{
    height: 104px;
}

.i-header-logo img{
    width: 190px;
}


.loader {

    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #E01F1F;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
