.home-about-wrapper {
    min-height: 2px;
    align-items: center;
    opacity: 0.5;
    background: #F4F4F4;
}

.home-about-wrapper > p {
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 14px;
    color: #111010;
    line-height: 20px;
    text-align: center;
}

#current-issue-left-panel-wrapper {
    background-color: #F4F4F4;
    padding: 16px 20px 20px 42px;
}

#current-issue-right-panel-wrapper{
    background-color: #F4F4F4;
    padding: 20px 42px 20px 20px;
}

#issue-description {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #111010;
    line-height: 18px;
    padding-left: 13px;
}

.current-issue-section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #E01F1F;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 20px;
}

.current-issue-title a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #111010;
    line-height: 28px;
    font-weight: bold;
}

.current-issue-image-cover img {
    width: 90px;
    height: 117px;
    object-fit: cover;
}

#current-issue-container::after {
    content: ' ';
    width: 100%;
    height: 1px;
    background: #E01F1F;
    box-shadow: 0 1px 2px 0 rgba(224, 31, 31, 0.26);
    display: block;
}

.current-issue-category{
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    color: #111010!important;
    line-height: 24px;
    margin-top: 20px;
}

.current-issue-article-title {
    font-family: Roboto;
    font-size: 15px;
    color: #0A0A0A!important;
    line-height: 20px;
}

.current-issue-article-author {
    font-family: Roboto;
    font-style: italic;
    font-size: 14px;
    color: #3b3636 !important;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 6px;
}

#contemporarily-relevant-wrapper {
    padding: 21px 0;
}

.contemporarily-relevant-section-title {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111010;
    line-height: 30px;
    margin-bottom: 12px;
}

.contemporarily-article-name{
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #0A0A0A;
    line-height: 20px;
}

.contemporarily-article-author{
    font-family: Roboto;
    font-style: italic;
    font-size: 14px;
    color: #3b3636!important;
    line-height: 20px;
    margin-top: 6px;
}

.contemporarily-article-wrapper:not(:last-child){
    margin-bottom: 20px;
}

#horizontal-advertisement-bar {
    background-color: #ffffff;
}

#subscribe-box-wrapper {
    background-color: #ffffff;
}

#subscribe-box-form {
    background: #F7F7F7;
    border: 1px solid #D8D8D8;
    padding: 29px 42px;
}

.subscribe-text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    color: #111010;
    line-height: 24px;
}

.blog-wrapper {
    background-color: #ffffff;
    padding: 44px;
}

#blog-section-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #111010;
    line-height: 32px;
}

.blog-item-wrapper{
    margin-top: 16px;
    display: flex;
    margin-left: -16px;
}


.blog-item {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.40);
    border-radius: 4px;
    border-radius: 4px;
    width: 440px;
    height: 105px;
    padding: 20px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.blog-item-details{
    margin-top:auto;
}

.blog-item-date {
    font-family: Roboto;
    font-size: 14px;
    color: #767676;
    letter-spacing: 0;
}

.blog-item-author {
    font-family: Roboto;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
}

.blog-description {
    font-family: Roboto;
    font-size: 14px;
    color: #262020;
    letter-spacing: 0;
    line-height: 18px;
}


.view-all-text{
    font-family: Roboto;
    font-size: 14px;
    color: #262020!important;
    letter-spacing: 0.4px;
}
.view-all-wrapper{
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    font-weight: normal;
}
.view-all-icon{
    color: #E01F1F;
}


.media-wrapper{
    background-color: #ffffff;
    padding: 44px;
}

.media-item-wrapper{
    margin-top: 16px;
    display: flex;
    margin-left: -16px;
}

.media-item{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0 4px 8px 0 rgba(225,225,225,0.40);
    border-radius: 4px;
    width: 440px;
    min-height: 130px;
    padding: 20px;
    margin-left: 16px;
    height: auto;
}
.media-authors{
    font-family: Roboto;
    font-style: italic;
    font-size: 14px;
    color: #767676;
    line-height: 20px;
    margin-top: 6px;
}

.media-title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color: #111010;
    line-height: 28px;
    margin-top: 12px;
}


.media-archive-card-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media-archive-container{
    min-height: 40vh;
}
