.footer{
    background-color: #ffffff;
}
.sub-menu {
    list-style-type: none;
    padding: 0;
}

.footer-nav-menu {
    display: flex;
    flex-direction: row;
}

/*footer menu item*/

.footer-nav-container{
    padding: 1.2% 5.8%;
}

.footer-nav-container .menu-item {
    flex: 1;
}

.menu-item > a {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #403C3C !important;
    letter-spacing: 0;
}

.footer-nav-menu {
    list-style-type: none;
    padding: 0;
}

.footer-nav-menu > li > a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #403C3C !important;
    letter-spacing: 0;
    font-weight: bold;

}

/*Sub footer*/

#sub-footer {
    display: flex;
    flex-direction: row;
    padding: 1.2% 5.8%;
}

.footer-brand-text {
    font-family: Roboto, sans-serif;
    font-size: 7px;
    color: #262020;
    letter-spacing: 0;
    line-height: 10px;
}

/*Sticky Message*/

.sticky-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 9;
    padding: 8px;
    background: #E01F1F;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
}

@media all and (max-width: 600px) {
    .sticky-message{
        flex-direction: column;
        text-align: center;
    }

    .footer-nav-menu{
        display: flex;
        flex-wrap: wrap;
    }

    .footer-nav-menu > li{
        margin-left: 12px;
    }

    .footer-nav-container{
        margin-left: -12px;
        margin-right: -12px;
    }
}

#donation-button {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #E01F1F;
    letter-spacing: 0;
    line-height: 18px;
    padding: 7px 16px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-left: 16px;
    cursor: pointer;
}

#donation-button:active {
    background: #dedede;
}
